<div class="access_section">
  
<h1>mentor login</h1>

<hr><br>

<%= render partial: 'form', locals: {user: @mentor, path: mentor_login_path(@mentor)} %>

<br><hr><br>

<img src="images/btn_google_signin_light_normal_web.png" alt="Sign in with Google"/><br>

<a href="/auth/github"><img src="images/github.png" alt="Sign in with Github" width="191"/></a>

</div>
