<div class="access_section">

<h1>coach login</h1>

<hr><br>

<%= render partial: 'form', locals: {user: @user, path: login_path} %>

<br><hr><br>

<a href="/auth/github"><img src="/images/github.png" alt="Sign in with Github" width="215"/></a>

</div>
