<div class="access_section">

<h1>choose your account type</h1>

<br><hr><br><br>
<div>
<%= button_to "coach", action: "set_user_type", user_type: "coach" %>
</div>
<br><br><br><hr><br><br>

<%= button_to "student", :action => "set_user_type", user_type: "student" %>
<br><br><br><hr>

</div>
