<div class="access_section">

  <h1>sign up for codecoach</h1>

  <hr>

  <%= render partial: 'application/new_form', locals: {user: @user} %>

  <br><hr><br>

  <a href="/auth/github"><img src="/images/github.png" alt="Sign in with Github" width="215"/></a>

</div>
