<h2>Sign up to be a mentor</h2>

<%= render partial: 'application/form', locals: {user: @mentor} %> 

<img src="/images/btn_google_signin_light_normal_web.png" alt="Sign in with Google"/><br>

<a href="/auth/github"><img src="/images/github.png" alt="Sign in with Github" width="191"/></a>
