<div class="access_section">

<h1>become a mentor</h1><br>

<%= render partial: 'application/new_form', locals: {user: @mentor} %>

<br><hr><br>

<img src="/images/btn_google_signin_light_normal_web.png" alt="Sign in with Google"/><br>

<a href="/auth/github"><img src="/images/github.png" alt="Sign in with Github" width="191"/></a>

</div>
