/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 green: rgb(4, 56, 39);
 light grey: rgb(219, 221, 224);
 */

 /* ---------- section styling ---------- */


 header {
   width: 110%;
   height: 110px;
   background-color: rgb(4, 56, 39);
   border: solid 2px black;
   font-weight: 200;
   font-family: 'Raleway', sans-serif;
   color: rgb(101, 104, 102);
   font-size: 3em;
   padding-top: 25px;
   padding-left: 10px;
   margin-left: -2%;
   margin-top: -1%;
   margin-bottom: 1.5%;
 }

body {
  background-color: rgb(204, 217, 229);
  height: auto;
}

footer {
  border-top: solid 1px black;
  width: 220%;
  height: 150px;
  background-color: white;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
  color: rgb(101, 104, 102);
  font-size: 5.25em;
  display: block;
  float: left;
  margin-top: 200px;
  margin-bottom: -150px;
  margin-left: -52%;
}

nav {
  width: 150px;
  height: 100%;
  background-color: white;
  margin-top: 10px;
  float: left;
  display: inline-block;
  box-shadow: 2px 2px rgb(112,128,144);
}


/* ---------- header, paragraph, input and select styling ---------- */


h1, h2, h3, h4, h5, h6, input[type=submit], input[type=submit], button {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

nav h4 {
  border: solid 1px rgb(4, 56, 39);
  padding: 12px 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

footer > h6 {
  margin-top: 16px;
  margin-bottom: 0px;
  margin-left: 2%;
  margin-right: 9%;
  line-height: 1em;
  font-size: .2em;
  text-align: center;
}

p, label {
  font-family: 'PT Serif', serif;
  font-weight: 400;
}

input[type=submit], input[type=radio] {
  background-color: rgb(4, 56, 39);
  color: rgb(219, 221, 224);
  font-size: 1em;
  padding: 6px 40px;
  border-radius: 5px;
}

select {
  background-color: rgb(234, 241, 248);
  color: rgb(4, 56, 39);
  font-size: .9em;
}


/* ---------- link styling ---------- */


a, a:visited {
  color: rgb(4, 56, 39);
}

nav a {
  text-decoration: none;
}

nav a:hover, h2 a:hover {
  color: black;
  text-decoration: underline;
}

h2 a, h2 a:visited {
  text-decoration: none;
}

footer > h6 > a, footer > h6 > a:visited {
  text-decoration: none;
  color: rgb(101, 104, 102);
}


/* ---------- list item styling ---------- */


li {
  font-family: 'PT Serif', serif;
  font-weight: 400;
}


/* ---------- button styling ---------- */


button {
  background-color: rgb(4, 56, 39);
  color: rgb(219, 221, 224);
  font-size: 1.5em;
  padding: 6px 40px;
  border-radius: 5px;
}


/* ---------- rule styling ---------- */


hr {
  border: solid .5px rgb(4, 56, 39);
}


/* ---------- class styling ---------- */

/* - logged out main div styling - */

.access_section {
  border: solid 1px rgb(4, 56, 39);
  width: 50%;
  min-height: 400px;
  background-color: white;
  margin: 30px 25% auto 25%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 2px 2px rgb(112,128,144);
}

.access_section label, .access_section input[type=text], .access_section input[type=password] {
  text-align: right;
  float: left;
  padding-left: 100px;
  padding-right: 10px;
  width: 140px;
}

.access_section hr {
  width: 80%;
}

.access_section h1 a, .access_section h1 a:visited  {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.access_section h1 a:hover {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-decoration: underline;
  color: rgb(4, 56, 39);
}

/* - logged in main div styling - */

.main {
  border: solid 1px rgb(4, 56, 39);
  width: auto;
  min-width: 45%;
  max-width: 50%;
  height: auto;
  min-height: 400px;
  background-color: white;
  margin-top: 10px;
  margin-left: 30px;
  padding: 30px 30px 80px 30px;
  float: left;
  display: inline-block;
  box-shadow: 2px 2px rgb(112,128,144);
}

.main img {
  border: solid 2px rgb(4, 56, 39);
  padding: 10px;

}

/* - recent resources div styling - */

.recent_resources_col {
  border: solid 1px rgb(4, 56, 39);
  width: 25%;
  height: 100%;
  min-height: 400px;
  background-color: white;
  margin-top: 10px;
  margin-left: 40px;
  padding: 30px;
  float: left;
  display: inline-block;
  box-shadow: 2px 2px rgb(112,128,144);
}

/* - find a coach card styling - */

.Find-coach-card {
  border: solid 1px black;
  float: left;
  padding: 1.5%;
  margin: 2%;
  vertical-align: top;
}

.Find-coach-card input[type="submit"] {
  width: 90%;
  margin: 3px auto;
}

/* - new_resource class styling - */

.new_resource input[type=text], .edit_resource input[type=text] {
  width: 40%;
  width-min: 20%;

}

.new_resource select, .edit_resource select {
  width: 25%;
}

/* - form class styling - */

.form {
  align: left;
}

/* - signup page radio button styling - */

.signup_radio {
  width: 50%;
  display: inline-block;
  float: left;
}

.signup_radio > .field_with_errors {
  text-align: right;
  width: 50%;
  margin-left: 10px;
}

/* - error styling - */

.field_with_errors {
  display: block;
  float: left;
}

.field_with_errors input, .field_with_errors select, .error_display {
  border: solid rgb(193, 75, 75) 2px;
}

.error_display {
  font-size: .8em;
  color: rgb(193, 75, 75);
  text-align: left;
  color: rgb(193, 75, 75);
  background-color: rgba(193, 75, 75, 0.15);
}

.access_section .error_display {
  width: 400px;
  display: inherit;
  margin: auto;
}

/* ---------- id styling ---------- */

#about {
  margin: 30px 70px 0px 70px;
  text-align: left;
  font-size: .9em;
}

#enter_site {
  line-height: 9em;
  vertical-align: bottom;
}
