  <h4 id="home"><%= link_to "home", user_path(current_user) %></h4>
  <h4><%= link_to "edit profile", edit_user_path(current_user) %></h4>
  <% if current_user.is_student? %>
    <h4><%= link_to "my resources", user_resources_path(current_user) %></h4>
  <% end %>
  <h4><%= link_to "top resources", top_resources_path %></h4>
