<% if session_id %>
  <div class="main">
<% else %>
  <div class="access_section" >
<% end %>
  <h1>about</h1>
  <hr>
  <p id="about">CodeCoach was founded with one simple principle in mind: that every child should have the opportunity to learn and build valuable, hard-skills to take through life.</p>
  <p id="about">We provide a platform for seasoned software developers to pair with students who are interested in learning to code, but don't know where to begin or have the resources to find out. The developers, or coaches, who are familiar with the world of software engineering are able to work directly with his or her student to understand what the student is interested in learning, and then build out a library of all open-source materials to act as the core of the student's custom curriculum.</p>
  <p id="about">The resources are out there, but knowing where to start can be an insurmountable barrier for some. We hope that CodeCoach will help our community to bring that barrier down for the next generation.</p>
</div>
