<div class="access_section">
  <h1>sign up</h1>

  <h3><%= link_to "become a coach or student", new_user_path %>

  <br><br>

  <hr>

  <br>

  <h1>log in</h1>

  <h3><%= link_to "login", login_path %>

<div>
