<h2>Welcome to Code Mentor</h2>

<h3><%= link_to "Sign Up to be a mentor", new_mentor_path %></h3>
<h3><%= link_to "Sign Up to be a student", new_student_path %></h3>

<h3><%= link_to "Mentor login", mentor_login_path %></h3>
<h3><%= link_to "Student login", student_login_path %></h3>
