<div class="access_section">
  <h1>sign up</h1>

  <!-- <h3><%= link_to "become a coach", new_user_path %>
  or
  <%= link_to "become a student", new_user_path %></h3> -->

  <br><br>

  <hr>

  <br>

  <h1>log in</h1>

  <!-- <h3><%= link_to "login", login_path %> -->

<div>
