<div class="access_section">
  <h1>sign up</h1>

  <h3><%= link_to "become a coach", new_mentor_path %>
  or
  <%= link_to "become a student", new_student_path %></h3>

  <br><br>

  <hr>

  <br>

  <h1>log in</h1>

  <h3><%= link_to "coach login", mentors_login_path %>
  or
  <%= link_to "student login", students_login_path %></h3>

<div>
