<div class="access_section">
<h1>sign up</h1>
<h3><%= link_to "become a mentor", new_mentor_path %>
or
<%= link_to "become a student", new_student_path %></h3>
<br>
<br>
<hr>
<br>
<h1>log in</h1>
<h3><%= link_to "mentor login", mentor_login_path %>
or
<%= link_to "student login", student_login_path %></h3>
<div>
